name: Lint, test, and build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    name: Linting (Go 1.26)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Go 1.26
        uses: actions/setup-go@v6
        with:
          go-version: '1.26'
          cache: false # golangci-lint-action does caching

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          only-new-issues: true

  test-and-build:
    name: Test and Build (Go 1.25 and 1.26)
    needs: lint
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go-version: ['1.25', '1.26']
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      
      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
          cache: true

      - name: Verify dependencies
        run: go mod verify
      
      - name: Run unit tests
        run: go test -v -race -coverprofile=coverage.out ./repo/...
      
      - name: Display coverage
        run: |
          grep -vE "(_mock\.go|filesystem\.go)" coverage.out > coverage.filtered.out
          go tool cover -func=coverage.filtered.out

      - name: Build
        run: go build -v -o ./ditto ./cmd/main.go

      - name: Upload
        uses: actions/upload-artifact@v6
        with:
          name: ditto-binary-${{ matrix.go-version }}
          path: ./ditto
