name: Unit Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.22'
      
      - name: Run unit tests
        run: go test -v -race -coverprofile=coverage.out ./repo/...
      
      - name: Display coverage
        run: |
          grep -vE "(_mock\.go|filesystem\.go)" coverage.out > coverage.filtered.out
          go tool cover -func=coverage.filtered.out
